:root {
    --dark-green: #023336;
    --medium-green: #4DA674;
    --light-green: #C1E6BA;
    --extra-light-green: #EAF8E7;
}
body {
    background-color: var(--extra-light-green);
    color: var(--dark-green);
    font-family: 'Arial', sans-serif;
}
header {
    background-color: var(--dark-green);
    color: #fff;
}
header h1 {
    font-size: 3rem;
}
header p {
    font-size: 1.25rem;
}
.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: var(--dark-green);
}
.navbar-brand {
    font-weight: bold;
}
.navbar-nav .nav-link {
    color: #fff;
    font-weight: bold;
}
.navbar-nav .nav-link:hover {
    color: var(--medium-green);
}
.btn-primary {
    background-color: var(--medium-green);
    border-color: var(--medium-green);
}
.btn-primary:hover {
    background-color: var(--dark-green);
    border-color: var(--dark-green);
}
.card {
    background-color: var(--light-green);
    border-color: var(--medium-green);
}
.card-title {
    font-size: 1.5rem;
}
footer {
    background-color: var(--dark-green);
    color: #fff;
    padding: 20px 0;
}
footer a {
    color: var(--medium-green);
    text-decoration: underline;
}
footer a:hover {
    color: #fff;
    text-decoration: none;
}
#about, #contact {
    padding: 60px 0;
}
#about {
    background-color: var(--dark-green); /* Dark green background for About Me section */
    color: #fff; /* White text color */
}
#projects {
    padding: 60px 0;
}
#projects .card {
    transition: transform 0.3s ease;
}
#projects .card:hover {
    transform: scale(1.05);
}
#contact {
    background-color: var(--dark-green);
    color: #fff;
    text-align: center;
}
#contact a {
    color: var(--medium-green);
    text-decoration: underline;
}
#contact a:hover {
    color: #fff;
    text-decoration: none;
}